<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Serviços</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Serviços</h1>
        <p>Conheça nossos serviços de hospedagem e estética automotiva.</p>
        <br>
      </div>
   

      <header>
        <div class="container">
            <img src="assets/img/polimento-automotivo-1.jpg" alt="">
            <p>Polimento</p>
        </div>
    
        <div class="container">
            <img src="assets/img/cristalizacao2.jpg" alt="">
            <p>Cristalização</p>
        </div>
    
        <div class="container">
            <img src="assets/img/Higienizacao2.jpeg" alt="">
            <p>Higienização</p>
        </div>
        <div class="container">
          <img src="assets/img/lavagemcomp.jpg" alt="">
          <p>Lavagem Completa</p>
        </div>

        <div class="container">
          <img src="assets/img/lavagemsim.jpg" alt="">
          <p>Lavagem Simples</p>
        </div>

        <div class="container">
          <img src="assets/img/lavagemmot.jpg" alt="">
          <p>Lavagem de motor</p>
        </div>
        <br>
        <br>
        <br>
        <hr>
        <br>
        <div class="container">
          <img src="assets/img/vagaavul.jpg" alt="">
          <p>Vagas Avulso</p>
        </div>
        <div class="container">
          <img src="assets/img/vagadi.jpg" alt="">
          <p>Vagas Diárias</p>
        </div>
        <div class="container">
          <img src="assets/img/vagamen.jpg" alt="">
          <p>Vagas Mensais</p>
        </div>
        <div class="container">
          <img src="assets/img/pernoite.jpg" alt="">
          <p>Pernoite</p>
        </div>
        <div class="container">
          <img src="assets/img/vallet.jpg" alt="">
          <p>Sistema de Vallet</p>
        </div>    
      </header>

</body>
</html>