<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JC Park</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    

    <nav class="nav">
      <a class="navbar-brand" href="/home" style="color: #0034c4;"><strong>JC Park</strong></a>
      <ul class="nav justify-content-center">
        <li><a class="nav-link active" href="/home">Inicio</a></li>
        <li><a class="nav-link" href="/servicos">Serviços</a></li>
        <li><a class="nav-link" href="/reserva">Reserva</a></li>
        <li><a class="nav-link" href="/cadastro">Cadastro</a></li>
        <li><a class="nav-link" href="/sobre-nos">Sobre nós</a></li>
        
      </ul>
    
    </nav>
  </nav>
</body>
</html>
  
    
  