a{
    color: #0034c4;
    font-size: 30px;
}
ul{
    font-size: large;
}
ul a {
    color: black;
    font-size: large;
}
ul a:hover{
    background-color: #0034c4;
    color: white;
    border-radius: 5px;
}
//a:hover{
//    background-color: #0034c4;
 //   color: white;
//border-radius: 5px;
//}
