<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Reserva</h1>
        <h4>Interessado em fazer sua reserva?</h4>
        <p>Você pode utilizar nosso <a href="/cadastro" style="color: red;"><em><strong>formulário</strong></em></a> para fazer sua reserva e tirar dúvidas sobre valores, políticas de privacidade,termos e condições e regras de cancelamento e reembolso.</p>
        <p>Caso prefira um contato direto, temos também essas opções para contato:</p>
        <ul>
          <li>Whatsapp: (xx)xxxxx-xxxx</li>
          <li>E-mail: xxxxxxx@xxxxx.xxx</li>
          <li>Instagram: @(xxxxxx)</li>
        </ul>
        <br>
      </div>
</body>
</html>