<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    <div class="container-fluid">
        <h1 class="mt-4">ESTACIONAMENTO JC PARK</h1>
        <h3>Procurando estacionamento na cidade?</h3>
        <p>
          Imagine que você vai fazer uma viagem de 1 semana para outra cidade, saindo de  Campinas; ou ainda que tenha coisas para resolver e não tem onde deixar seu carro. A JC Park tem o espaço ideal para você deixar seu carro quando precisar e retirar no horário que deseja. Localizado em uma ótima região de Campinas próximo ao Taquaral, Centro, Cambuí, Guanabara e Castelo.
        </p>
        <h3>Mas e o preço?</h3>
        <p>
          Hoje o estacionamento de Campinas JC Park se orgulha em oferecer o melhor custo-benefício para longa permanência para que você possa deixar seu carro em nosso estacionamento pelo período de sua viagem ou passeio e ainda poder economizar. O menor preço de estacionamento em Campinas você encontra no Estacionamento JC Park.
        </p>
        <h3>Reserva Online</h3>
        <p>
          Além de toda comodidade de deslocamento ainda temos o serviço de reserva online, onde o usuário pode fazer sua reserva pelo período de sua viagem ou passeio e já ter sua vaga reservada sem riscos e com menos preocupação para o dia da viagem/passeio.
        </p>
    </div>

    <div class="sombra">
      <img src="assets/img/frente.JPG" alt="">
    </div>
    <br>

</body>
</html>
