<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
</head>
<body>
    <div class="container-fluid">
        <h1 >Sobre nós</h1>
        <p style="color: black;">
          Nossa história começa com uma situação que podemos chamar de "adaptação". Depois de sair de uma empresa de locadora de carros, surgiu uma oportunidade de começar algo novo! E foi assim que a Lavagem Ecológica apareceu na nossa história.
        </p>
        <p>
          De começo, fazendo lavagens " a seco " com um cera especial para lavagem automotiva. E com tempo, qualidade, constancia e muita dedicação, surgiu uma outra oportunidade. Quando um cliente que gostou muito do nosso trabalho nos ofereceu um ponto de estacionamento para administar e seguir com nossas lavagens.
        </p>
        <p>
          O tempo foi passando e novos investimentos foram feitos, tais como : Cursos de estética automotiva (polimento, cristalização, higienização, pequenos reparos).
        </p>
        <p>
          Nosso estacionamento vem sendo administrado e crescendo constantemente, por uma família que pensa e trabalha junto. E talvez seja essa nossa receita para um bom resultado e muitos clientes satisfeitos!
        </p>
        <br>
      </div>
</body>
</html>